/* bg box #87cefa -  color h1 #0275d8  */

/* RESET CSS */
*,  ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body{
  width: 100vw;
}

/************** DEBUT STYLISER <HR> ***********/
.separator{
  height: 1px;
  width: 50%;
  border: none;
  background: black;
  margin: auto;
}
.separator-card{
  height: 1px;
  width: 30%;
  border: none;
  background: black;
  margin: auto;
}
/**************  STYLISER <p> ***********/
.p-contact{
  font-size: 1.2em; 
  font-weight: bolder;
}
p{
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
}
/*********STYLISER LES H ********/
h1 {
  color:#87cefa;
}
h2{
  font-size: 1.5em;
  text-align: center;
  font-weight: bolder;
}
h4{
  font-size: 1.3em;
  font-weight: 500;
  margin-top: 20px;
}
h5{
  font-size: 1.4em;
  font-weight: 500;
  max-height: 1.5em;
  text-align: center;
}
h6{
  font-weight: bolder;
}

/*********** DEBUT MAIN **************/
.box{
  background: #87cefa;
  margin-top: 30px;
  padding: 5px;
  margin-bottom: 20px;
}
.box1{
  border: black solid 1px;
  padding: 10px;
}
.btn{
  background-color:#87cefa ;
  color: black;
}
.article{
  text-align: justify;
}
/*********** STYLE ********/
.bold{
  font-weight: bolder;
  
}
.center{
  text-align: center;
}
.underline{
  text-decoration: underline;
}
/*********** STYLISER LES LIENS ***********/
a {
  text-decoration: none;
  color: black;
}
.btn-contact{
  border: solid 1px #0275d8 ;
  padding: 10px;
}
a:hover,
.fa:hover{
  text-decoration: none;
  color: #0275d8;
  font-size: 1.2em;
  font-weight: bolder;
}
footer .fa{
  color:#0275d8 ;
}
.tel-mail{
  color: black;
}


/*********** FIN MAIN **************/

/************DEBUT STYLISER LES CARD ****************/
.card{
  height: 90%;
  padding-top: 20px;
}
.card-img{
  width: 150px;
  height: 150px;
 }
 .card-text{
   text-align: center;
   margin-top: 30px;
 }
/************ FIN STYLISER LES CARD ****************/

/*********** FOOTER **************/
.copyright{
  font-size: 0.8em;
}


/********MEDIA QUERY POUR ECRAN 320PX et XS ***********
******min-width 320px**************/
@media screen and (min-width: 320px){
  header button{
    position: absolute;
    left: 80%;
    top: 70%;
      }
 
  h1{ 
    font-size: 1em;
    font-weight: 900;
    color:#87cefa;
    
  }
  .logo{
    margin-left: -5px;
  }
}
/****** FOOTER ********/
footer{
  margin-top: 50px;
}


/********MEDIA QUERY POUR ECRAN 540PX et SM ***********
******min-width 540px**************/
@media screen and (min-width: 540px){
 
  h1{ 
    font-size: 1.3em;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 20px;
    margin-right: 50px;
    color:#87cefa;
  }
  button{
    margin-top: 5px;
  }
}


/********MEDIA QUERY POUR ECRAN 768PX et MD ***********
******min-width 768px**************/
@media screen and (min-width: 768px){
  h1{
    font-size: 1.8em;
    line-height: 1.5em;
    font-weight: bold;
    color:#87cefa;
  }
  .navigation{
    margin: 20px;
  }
  .nav-item{
    margin-left: 20px;
    margin-right: 20px;
  }
  footer hr{
     display: none;
   }
}

/********MEDIA QUERY POUR ECRAN 960X et LG ***********
******min-width 960px**************/
@media screen and (min-width: 992px){
  h1{
    margin: 40px;
    color:#87cefa;
  }
}

/********MEDIA QUERY POUR ECRAN 1140PX et XL ***********
******min-width 1140px**************/
@media screen and (min-width: 1140px){
  .nav-item{
    margin-left: 50px;
    margin-right: 50px;    
  }
}